form {
    margin-bottom:1em;
}

label {
    /* width:7em; */
    float:left;
    text-align:right;
    padding:0 5px;
}

label.inline {
    float: none;
    text-align: default;
    padding: 0;
}

select {
    width:15em;
}

.formfields {
    list-style-type:none;
}
.formfields li {
    width:30em;
    padding: 0.25em;
    margin-bottom:0.5em;
}
.formfields .required {
}
.formfields .required label {
}

.formfields .required-text {
    margin:0 0 0.25em 0;
    padding: 0 0 0 1em;
    color:#900;
    font-size:80%;
}

.formfields .errors {
    background: #fe9 url(../images/blocked.png) no-repeat !important;
    background-position: 0.5em center !important;
    border:1px solid #F99;
    background:#e99;
}

.errorlist {
    margin:0;
    padding: 0 0 0 8em;
    list-style-type:none;
}
.errorlist li {
    width:auto;
    padding:0;
    color:#900;
    margin:0;
    font-size:80%;
}

