table#user-story-list {
    width:100%;
    clear:both;
}
table#user-story-list .state {
    text-align: center;
}

thead th {
    vertical-align:top;
    padding-left:0.5em;
    text-align:left;
}

td img {
    vertical-align:middle;
}

td a {
    color: black;
}

td.name {
    min-width:20em;
    width:50%;
}

tbody td {
    font-weight:normal;
    padding:0 0.5em;
    vertical-align:top;
}

.mceEditor tbody td {
    padding:0;
}

form tbody td {
    border-right:none;
}

tr.even td { 
    background: #67e8ff;
}
tr.child.even td { 
    background: #b2f3ff;
}
tr.odd td { 
    background: #abedf9;
}
tr.child.odd td { 
    background: #e0f5f9;
}

.estimates th {
    font-size:80%;
}

.totals td {
    border-bottom:2px solid #063;
}
.totals td.total {
    background:#9e9;
    text-align:center;
}

td.actuals, td.size,td.estimated, td.progress, td.todo, td.actuals, td.failures, td.rank {
    text-align:center;
}
td.size select {
    width: auto;
}

table .dragging td {
	background-color: #237ADD;
    color: white;
}

table .release td {
	background-color: green;
	color: #FFFFFF;
    font-size: larger;
    padding: 2px;
}
table .release.warning td {
	background-color: orange;
	color: #FFFFFF;
}
table .release.error td {
	background-color: red;
	color: #FFFFFF;
}
