{% extends "master.html" %}

{% block js %}
<script type="text/javascript">
$(window).ready(function(){
    $("#user-story-list").treeTable();
});

function timelog(url)
{
    window.open(url, "timelog", "location=1, menubar=1, resizable=1, scrollbars=1");
    return false;
}
</script>
{% endblock %}
{% load humanize %}
{% load markup %}

{% block title %}
{% if current_iteration %}
{{current_iteration.name}}
{% else %}
There are no iterations in this project.
{% endif %}
{% endblock %}

{% block main_nav %}
<ul id="main_nav">
    <li><a href="{% url agilito.views.backlog current_project.id %}">Backlog</a></li>
    {% if current_project.iteration_set.all %}
    <li class="selected"><a href="{% url agilito.views.iteration_status current_project.id %}">Iteration</a></li>
    {% endif %}
    <li><a href="{% url agilito.views.timelog "" %}">Log</a></li>
    {% if current_project.iteration_set.all %}
    <li><a href="{% url agilito.views.iteration_hours current_project.id%}">Hours</a></li>
    {% endif %}
    <div class="visualClear"></div>
</ul>
{% endblock %}

{% block actions%}
{% if current_iteration %}
<a id="create-user-story" class="action-link add-task" 
    
    href="{% url story_from_iteration project_id=current_project.id,iteration_id=current_iteration.id %}?last_page={{last_page}}">Add User Story</a>
{% endif %}
{% endblock %}

{% block content %}

{% if current_iteration %}

<ul class="breadcrumbs">
{% if current_iteration.project %}
<li id="iteration">{{ current_iteration.project.name }} &gt; </li> 
{% endif %}
<li id="iteration"> <a class="dropdown" href="#"> {{ current_iteration.name }} <img src="/resources/arrow_down_small.png" /></a>
    {%if current_iteration.project.iteration_set.all %}
        <div class="dropdown_menu">
        {%for iteration in current_iteration.project.iteration_set.all %}
        <a href="{{iteration.get_absolute_url}}">{{iteration.name}}</a>
        {% endfor %}
        </div>
    {%endif%}
    
</li> 
<li class="visualClear" />

</ul>


<div id="us-head"> 

    {% if current_project.iteration_set.all %}
    {% with current_project.iteration_set.all as itset %}
    {% ifnotequal itset.count 1 %}
    <h2>
    <select id="iteration-selection" style="width:10em">
        {%for iteration in itset %}
        <option {% ifequal iteration.id current_iteration.id %} selected="selected" {%endifequal%}
            value="{{iteration.get_absolute_url}}">{{ iteration.name }}</option>
        {%endfor%}
    </select>
    </h2>
    {% else %}
    <h2>
        {% with itset.0 as iteration %}
            {{ iteration.name }}
        {% endwith %}
    </h2>
    {% endifnotequal %}
    {% endwith %}
    {% endif %}
<span>Release:
{{current_iteration.release.name}}
</span>

    <div class="visualClear"></div>
</div>


<object align="right" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" 
width="320" height="240" id="ie_chart" align="middle">
<param name="allowScriptAccess" value="sameDomain" />
<param name="movie" value="/resources/open-flash-chart.swf?data={{ data_url }}" />
<param name="quality" value="high" />
<param name="bgcolor" value="#FFFFFF" />

<SCRIPT LANGUAGE="JavaScript">
flash_versions = 10;
flash_installed = 0;
flash_version = '0.0';
// Netscape style plugin detection
if (navigator.plugins && navigator.plugins.length) {
    for (x = 0; x <navigator.plugins.length; x++) {
        if (navigator.plugins[x].name.indexOf('Shockwave Flash') != -1) {
            flash_version = navigator.plugins[x].description.split('Shockwave Flash ')[1];
            flash_installed = 1;
            break;
        }
    }
}
// ActiveX style plugin detection
else if (window.ActiveXObject) {
    for (x = 2; x <= flash_versions; x++) {
        try {
            oFlash = eval("new ActiveXObject('ShockwaveFlash.ShockwaveFlash." + x + "');");
            if (oFlash) {
                flash_installed = 1;
                flash_version = x + '.0';
            }
        }
        catch(e) { }
    }
}

if (flash_installed) {
   document.write('<embed align="right" src="/resources/open-flash-chart.swf?data={{ data_url }}" quality="high" bgcolor="#FFFFFF" width="320" height="240" name="chart" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" id="chart"/>');
}
else {
   document.write('<IMG SRC="{{ burndown_chart_small_url }}" style="align=right;" ALT="Burndown">');
}
</SCRIPT>
</object>

<div id="us-resume">
    <span>Start date: 
    <strong>{{current_iteration.start_date|naturalday}}</strong>
    </span> |
    <span>End date :
    <strong>{{current_iteration.end_date|naturalday}}</strong>
    </span>
</div>
<div class="description">{{current_iteration.description|safe}}: <a href="{{ cards_url }}">task cards</a></div>

<dl id="resume">
<dt>Accepted</dt>
<dd>{{current_iteration.us_accepted_percentage|floatformat:0 }} %</dd>


<dt>User Stories</dt>
<dd>
{% if user_stories %}
Number of US in iteration: {{ user_stories.count }} 
</dd>
</dl>
<table id="user-story-list" cellspacing="0" cellpadding="2">
<thead>
    <tr>
        <th>Rank</th>
        <th>Id</th>
        <th>Name</th>
        <th>State</th>
        <th>Plan</th>
        <th>Tasks</th>
        <th>To-Do</th>
        <th>Failures</th>
    </tr>
</thead>

<tbody>
    <tr class="totals">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="total">{{planned}}</td>
        <td class="total">{{estimated}}</td>
        <td class="total">{{remaining}}</td>
        <td class="total">{{failures}}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr> 

{% for us in user_stories %}
    <tr id="us-{{us.id}}" class="{% cycle even,odd %} {%if us.blocked%}blocked{% endif %}">
        <td class="rank">{{us.rank}}</td>
        <td class="id"><a href="{{us.get_absolute_url}}">US{{us.id}}</a></td>
        <td class="name"><a href="{{us.get_absolute_url}}">{{us.name}}</a></td>
        <td class="state {{ us.get_state_display|slugify }}">{{us.get_state_display}}</td>
        <td class="planned">{{us.planned|default_if_none:"-"}}</td>
        <td class="estimated">{{us.estimated|default_if_none:"-"}}</td>
        <td class="todo">{{us.remaining|default_if_none:"-"}}</td>
        <td class="failures {% if us.test_failed %} fail {% endif %}">
            {% if us.test_failed %}
<a href="{{us.get_absolute_url}}#test-cases">{{us.test_failed|default_if_none:"-"}}</a>
            {% else %}
                {{us.test_failed|default_if_none:"-"}}
            {%endif%}
        </td>
        <td id="add_task_us_{{us.id}}" class=""><a href="{% url agilito.views.task_create current_project.id,us.id %}?last_page={{last_page}}"><img src="/resources/add_.png" alt="add task" title="add task" width="16" height="16" /></a></td>
        <td id="edit_us_{{us.id}}" class=""><a href="{% url agilito.views.userstory_edit current_project.id,us.id %}?last_page={{last_page}}"><img src="/resources/pencil.png" alt="edit" title="edit" width="16" height="16" /></a></td>
        <td id="delete_us_{{us.id}}" class=""><a href="{% url agilito.views.userstory_delete current_project.id,us.id %}?last_page={{last_page}}"><img src="/resources/delete.png" alt="delete" title="delete" width="16" height="16" /></a></td>
    </tr> 
    {% for ta in us.tasks %}
        <tr id="ta-{{ta.id}}" class="child-of-us-{{us.id}} {% cycle even,odd %}">
            <td></td><!-- rank -->
            <td class="id"><a href="{{ta.get_absolute_url}}">TA{{ta.id}}</a></td>
            <td class="name"><a href="{{ta.get_absolute_url}}">{{ta.name}}</a>
                <span class="tags">{{ ta.tags }}</span>
            </td>
            <td class="state {{ ta.get_state_display|slugify }}">{{ta.get_state_display}}</td>
            <td></td><!-- planned -->
            <td>{{ta.estimate|default_if_none:"-"}}</td>
            <td>{{ta.remaining|default_if_none:"-"}}</td>
            <td></td><!-- failures -->
            <td>{% if not ta.is_archived %}<a href="#" onclick="timelog('{% url agilito.views.timelog "" %}/task/{{ ta.id }}')"><img src="/resources/log.png" alt="log" title="log" width="16" height="16" /></a>{% endif %}</td>
            <td><a id="task_edit_{{task.id}}" href="{% url agilito.views.task_edit current_project.id,us.id,ta.id %}?last_page={{last_page}}"><img src="/resources/pencil.png" alt="edit" title="edit" width="16" height="16" /></a></td>
            <td><a id="task_del_{{task.id}}" href="{% url agilito.views.task_delete current_project.id,us.id,ta.id %}?last_page={{last_page}}"><img src="/resources/delete.png" alt="delete" title="delete" width="16" height="16" /></a></td>
        </tr> 
    {% endfor %}
{% endfor %}
</tbody>
</table>

Downloads for this iteration:
<ul>
<li><a href="{{ cards_url }}">task cards</a></li>
<li><a href="{{ status_table_url }}">task status</a></li>
<li><a target="_burndown" href="{{ burndown_chart_url }}">Burndown chart</a></li>
<li><a target="_chart" href="{% url agilito.views.product_backlog_chart current_project.id,current_iteration.id %}">Backlog evolution since start of iteration</a></li>
</ul>

{% else %}
No user stories for this Iteration
{% endif %}
{% else %}
There are no iterations in this project.
{% endif %}

{% endblock %}



