<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>

        <link rel="stylesheet" type="text/css" href="/agilito/theme/indigo/default.css" />

        <link rel="stylesheet" type="text/css" href="/agilito/css/zoomable.css" />

        <link rel="stylesheet" type="text/css" href="/agilito/css/content.css" />
        <link rel="stylesheet" type="text/css" href="/agilito/css/tables.css" />
        <link rel="stylesheet" type="text/css" href="/agilito/css/forms.css" />

        <link rel="stylesheet" href="/agilito/jquery-ui/css/ui-lightness/jquery-ui-1.7.2.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/agilito/treeTable/src/stylesheets/jquery.treeTable.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/agilito/css/clickmenu.css" type="text/css" media="screen" />

        <title>{% block title %}Agilito Project Managment App{% endblock %}</title>

        {% block link %} {% endblock %}
        {% block css %} {% endblock %}

        <!-- tinyMCE -->
        <script language="javascript" type="text/javascript" src="/agilito/js/tiny_mce/tiny_mce.js"></script>
        <script language="javascript" type="text/javascript">
            // Notice: The simple theme does not use all options some of
            // them are limited to the advanced theme
            tinyMCE.init({
                mode : "textareas",
                theme : "advanced",
                editor_deselector : "mceNoEditor",
                theme_advanced_buttons1 : "bold,italic,underline,separator,strikethrough,justifyleft,justifycenter,justifyright,justifyfull,bullist,numlist,undo,redo,link,unlink",
                theme_advanced_buttons2 : "",
                theme_advanced_buttons3 : "",
                theme_advanced_toolbar_location : "top",
                theme_advanced_toolbar_align : "left",
                extended_valid_elements : "a[name|href|target|title|onclick],img[class|src|border=0|alt|title|hspace|vspace|width|height|align|onmouseover|onmouseout|name],hr[class|width|size|noshade],font[face|size|color|style],span[class|align|style]"
            });
        </script>
        <!-- /tinyMCE -->

        <script type="text/javascript" src="/agilito/jquery-ui/js/jquery-1.3.2.min.js"></script>
        <script type="text/javascript" src="/agilito/jquery-ui/js/jquery-ui-1.7.2.min.js"></script>
        <script type="text/javascript" src="/agilito/js/json2.js"></script>
        <script type="text/javascript" src="/agilito/js/jquery.cookie.js"></script>

        <script type="text/javascript" src="/agilito/js/jquery.clickmenu.js"></script>
        <script type="text/javascript" src="/agilito/treeTable/src/javascripts/jquery.treeTable.js"></script>
        <script type="text/javascript">
            function popup(link, id)
            {
                window.open(link.href, id, "width=800, height=600, location=1, menubar=1, resizable=1, scrollbars=1");
                return false;
            }

            $(document).ready(function(){
                target = "/"
                $("#project-selection").change(function(){
                    var location = window.location.href.split('/');
                    if (location.length >=5) {
                        location = '/' + location[4];
                    } else {
                        location = '/backlog';
                    }
                    window.location= target+$(this).find(":selected").attr("value")+location;
                })

                $("#iteration-selection").change(function(){
                    window.location= $(this).find(":selected").attr("value")
                })

                var selected_tab = {% block select_tab %} null {% endblock %};
                if (selected_tab != null) {
                    $("#navtab-" + selected_tab).addClass("selected");
                }

                if (opener) {
                    $('body').addClass('popup');

                    var content = $('#left');
                    var h = content.height();
                    var w = content.width();
                    window.resizeTo(w, h + 130);
                }

                $(".show-datepicker").datepicker({ dateFormat: 'yy-mm-dd' });

                $("#zoombutton").click(function() {
                    $("#zoomable").toggleClass("zoomed");
                    $.cookie('zoomed', ($("#zoomable").is('.zoomed')).toString())
                });

                if ($.cookie('zoomed') == 'true') {
                    $("#zoomable").toggleClass("zoomed");
                }
            })
        </script>

        {% block js%} {% endblock %}

        {% if form %}{{ form.media }}{% endif %}
    </head>

<body>
<div class="container">
    <div class="header">
        <div class="title">
            <!-- h1>Indigo</h1 -->
        </div>

        <div class="navigation">
            {% if current_project %}
			    <a  id="navtab-backlog"
                        href="{% url agilito.views.backlog current_project.id %}">Backlog</a>

                {% if current_project.iteration_set.all %}
                    <a  id="navtab-iteration"
                            href="{% url agilito.views.iteration_status current_project.id %}">Iteration</a>
                    <a  id="navtab-timelog"
                            href="{% url agilito.views.timelog current_project.id %}">Log</a>

                    <a  id="navtab-hours"
                            href="{% url agilito.views.iteration_hours current_project.id%}">Hours</a>
                {% endif %}

                <a id="navtab-search" class="searchlink" href="{% url agilito.views.search current_project.id %}">Search</a>
            {% endif %}

            {% if user.is_anonymous %}
                <a class="extra" href="/accounts/login/">Log in</a>
            {% else %}
                <a class="extra" href="/accounts/logout/">Sign out {{ user }}</a>
            {% endif %}

            {% if current_project %}
                <a class="extra" href="/accounts/changepassword">Change password</a>

                {% if perms.agilito.is_staff %}
                    <a class="extra" href="/admin/">Administration</a>
                {% endif %}

                {% if project_list and current_project %}
                    <select id="project-selection">
                        {% for project in project_list %}
                            <option {% ifequal project.id current_project.id %} selected="selected" {% endifequal %} value="{{project.id}}">{{project.name}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            {% endif %}

            <div class="clearer"><span></span></div>
        </div>
    </div>

    <div class="main">
        <div class="content">
            <div id="zoomable">
                <div id="notzoomed">
                    {% block content_header %} {% endblock %}
                </div>
                <div id="zoomborder">
                    <span id="zoombutton"></span>
                    {% block content %} {% endblock %}
                </div>
            </div>
            {% comment %}
            <h1>Porttitor posuere</h1>
            <div class="descr">Jun 13, 2006 by Vulputate</div>

            <p>In hac habitasse platea dictumst. Duis porttitor. Sed vulputate elementum nisl. Vivamus et mi at arcu mattis iaculis. Nullam posuere tristique tortor. In bibendum. Aenean ornare, <a href="index.html">nunc eget pretium</a> porttitor, sem est pretium leo, non euismod nulla dui non diam. Pellentesque dictum faucibus leo. Vestibulum ac ante. Sed in est.</p>

            <cite>Sed sodales nisl sit amet augue. Donec ultrices, augue ullamcorper posuere laoreet, turpis massa tristique justo, sed egestas metus magna sed purus.</cite>
            
            <p>Aliquam risus justo, mollis in, laoreet a, consectetuer nec, risus. Nunc blandit sodales lacus. Nam luctus semper mi. In eu diam.</p>

            <p>Fusce porta pede nec eros. Maecenas ipsum sem, interdum non, aliquam vitae, interdum nec, metus. Maecenas ornare lobortis risus. Etiam placerat varius mauris. Maecenas viverra. Sed feugiat. Donec mattis <a href="index.html">quam aliquam</a> risus. Nulla non felis sollicitudin urna blandit egestas. Integer et libero varius pede tristique ultricies. Cras nisl. Proin quis massa semper felis euismod ultricies.
            </p>

            <h1>Adipiscing</h1>
            <div class="descr">Jun 11, 2006 by Laoreet</div>

            <p>Aliquam risus justo, mollis in, laoreet a, consectetuer nec, risus. Nunc blandit sodales lacus. Nam luctus semper mi. In eu diam. Phasellus rutrum elit vel nisi. Cras mauris nulla, egestas quis, cursus at, venenatis ac, ante. Fusce accumsan enim et arcu. Duis sagittis libero at lacus. Suspendisse lacinia nulla eget urna.</p>
            <ul>
                <li>Tristique</li>
                <li>Aenean</li>
                <li>Pretium</li>
            </ul>
            <p>In hac habitasse platea dictumst. Duis porttitor. Sed vulputate elementum nisl. Vivamus et mi at arcu mattis iaculis. Nullam posuere tristique tortor. In bibendum. Aenean ornare, nunc eget pretium porttitor, sem est pretium leo, non euismod nulla dui non diam. Pellentesque dictum faucibus leo. Vestibulum ac ante. Sed in est. Sed sodales nisl sit amet augue. Donec ultrices, augue ullamcorper posuere laoreet, turpis massa tristique justo, sed egestas metus magna sed purus. Fusce eleifend, dui ut posuere auctor, justo elit posuere sapien, at blandit enim quam fringilla mi.</p>

            <h1>Interdum</h1>
            <div class="descr">May 24, 2006 by Lectus</div>

            <p>Praesent nisi sem, bibendum in, ultrices sit amet, euismod sit amet, dui. Donec varius tincidunt nisi. Ut ut sapien. Integer porta. Fusce nibh. Curabitur pellentesque, lectus at <a href="index.html">volutpat interdum</a>, sem justo placerat elit, eget feugiat est leo tempor quam. Ut quis neque convallis magna consequat molestie. Nullam semper massa eget ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque a nibh quis nunc volutpat aliquam</p>
            <code>margin-bottom: 12px;
font: normal 1.1em "Lucida Sans Unicode",serif;
background: url(img/quote.gif) no-repeat;
padding-left: 28px;
color: #555;</code>
            <p>Eget feugiat est leo tempor quam. Ut quis neque convallis magna consequat molestie.</p>
            {% endcomment %}
        </div>

        <div class="sidenav">
                {% if not user.is_anonymous %}
                    <h1>Search</h1>
                    <form action="{% url agilito.views.search current_project.id %}">
                    <div>
                        <input type="text" name="query" class="styled" value="{{ query|escape }}" size=40/>
                        <select name="model">
                            <option value="User Story">User Stories</option>
                            <option value="Task">Tasks</option>
                            <option value="Test Case">Test Cases</option>
                        </select>
                        <input type="submit" value="Search" class="button" />
                    </div>
                    </form>
                {% endif %}

                {% if sidebar %}
                    {% for label, section in sidebar.items %}
                        <span {% if section.id %} id="{{section.id}}" {% endif %}>
                        <h1>{{label}}</h1>
                        <ul>
                        {% for entry in section %}
                            <li><a href="{{entry.url}}"
                                {% for k, v in entry.properties.items %}
                                    {{k}}="{{v}}"
                                {% endfor %}
                                {% if entry.popup %}
                                    onclick="popup(this, '{{entry.popup}}'); return false"
                                {% endif %}
                            >{{entry.label}}</a></li>
                        {% endfor %}
                        </ul>
                        </span>
                    {% endfor %}

                    {% block sidebar %} {% endblock %}

                {% endif %}

        </div>
        <div class="clearer"><span></span></div>
    </div>
</div>
<!-- div class="footer"/ -->

</body>

</html>
