<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
{% load agilito_utils %}
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
        <link rel="stylesheet" type="text/css" href="/agilito/css/product_backlog_archive.css" />
    </head>
    <body>
        <table summary="product backlog" cellspacing="0" cellpadding="2" id="user-story-list">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Size</th>
                    <th>State</th>
                    <th>Tags</th>
                </tr>
            </thead>
    
            <tbody>
                {% for story in backlog %}
                    {% ifequal story.whatami "UserStory" %}
                        <tr id="us_{{story.id}}">
                            <td class="rank">{{story.rank}}</td>
                            <td class="id">US{{story.id}}</td>
                            <td class="name">{{story.name}}</td>
                            <td class="description">{{story.description|safe}}</td>
                            <td class="size">
                                {% if sizes %}
                                    {{story.size|storysize}}
                                {% else %}
                                    {{story.size}}
                                {% endif %}
                            </td>
                            <td class="state">{{ story.backlog_state }} </td>
                            <td class="tags">{{ story.taglist|join:", " }}</td>
                        </tr>
                    {% endifequal %}
                {%endfor%}
            </tbody>
        </table>
    </body>
</html>
