{% extends "master.html" %}
{% load humanize %}


{% block title %} User Stories in the Backlog {% endblock %}

{% if current_project %}

{% block main_nav %}
<ul id="main_nav">
    <li class="selected"><a href="{% url agilito.views.backlog current_project.id %}">Backlog</a></li>
    {% if current_project.iteration_set.all %}
    <li><a href="{% url agilito.views.iteration_status current_project.id %}">Iteration</a></li>
    {% endif %}
    <li><a href="{% url agilito.views.timelog "" %}">Log</a></li>
    {% if current_project.iteration_set.all %}
    <li><a href="{% url agilito.views.iteration_hours current_project.id%}">Hours</a></li>
    {% endif %}
    <div class="visualClear"></div>
</ul>
{% endblock %}

{% block actions %}
<a id="create-user-story" class="action-link add-object"  href="{% url story_from_backlog current_project.id %}?last_page={{last_page}}">Add User Story</a>
{% endblock %}





{% block content %}
<ul class="breadcrumbs">
{% if current_project %}
<li id="iteration">{{ current_project.name }} &gt; </li> 
{% endif %}

<li id="iteration">Backlog</li> 

<li class="visualClear" />
</ul>


<div id="us-head"> 
    <h2>
    Backlog
    </h2>
{% if current_project.release %}
<span>Release:
{{current_project.release.name}}
</span>
{% endif %}
    <div class="visualClear"></div>
</div>

{% if user_stories %}
<div id="us-resume">
<span>Number of US in Backlog: <strong>{{ user_stories.count }}</strong> </span> 
</div>
{% endif %}
{% if user_stories %}


<table cellspacing="0" cellpadding="2" id="user-story-list">
<thead>
    <tr>
        <th>Rank</th>
        <th>Id</th>
        <th>Name</th>
        <th>Size</th>
        <th>State</th>
        <th><!-- add task --></th>
        <th><!-- edit --></th>
        <th><!-- delete --></th>
    </tr>
</thead>

<tbody>
<tr class="totals">
    <td><!-- rank --></td>
    <td><!-- id --></td>
    <td><!-- name --></td>
    <td class="total size">{{ size }}</td>
    <td><!-- state --></td>
    <td><!-- add task --></td>
    <td><!-- edit --></td>
    <td><!-- delete --></td>
</tr>
{% for object in user_stories %}
    <tr class="{% cycle even,odd %} {{ object.backlog_state }}">
        <td class="rank">{{object.rank}}</td>
        <td class="id">US{{object.id}}</td>
        <td class="name"><a href="{{object.get_absolute_url}}">{{object.name}}</a></td>
        <td class="size">{{object.size_label|default_if_none:"-"}}</td>
        <td class="state">{{object.state_label|default_if_none:"-"}}/{{ object.backlog_state }}</td>
        <td id="add_task_us_{{object.id}}" class=""><a href="{% url agilito.views.task_create current_project.id,object.id %}?last_page={{last_page}}"><img src="/agilito/add_.png" alt="add task" title="add task" width="16" height="16" /></a></td>
        <td id="edit_us_{{object.id}}" class=""><a href="{% url agilito.views.userstory_edit current_project.id,object.id %}?last_page={{last_page}}"><img src="/agilito/pencil.png" alt="edit" title="edit" width="16" height="16" /></a></td>
        <td id="delete_us_{{object.id}}" class=""><a href="{% url agilito.views.userstory_delete current_project.id,object.id %}?last_page={{last_page}}"><img src="/agilito/delete.png" alt="delete" title="delete" width="16" height="16" /></a></td>
    </tr>
{%endfor%}
</tbody>
</table>
</dd>
{% else %}
No user stories in the backlog.
{% endif %}
</dl>

<p>
<a href="{{ full_backlog }}">Full backlog in Excel format</a><br/>
<a target="_chart" href="{% url agilito.views.product_backlog_chart current_project.id,"" %}">Backlog evolution since start of project</a>
</p>
{% endblock %}


{% endif %}
