{% extends "master.html" %}

{% load humanize %}
{% load agilito_utils %}

{% block link %}
    <link rel="alternate" type="application/rss+xml"
        title="Product backlog for {{current_project.name}}"
        href="/feeds/backlog/{{current_project.id}}/" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/agilito/js/jquery.tablednd_0_5.js"></script>
    <script type="text/javascript" src="/agilito/js/jquery.uitablefilter.js"></script>

    <script type="text/javascript">
        function reset_states()
        {
            {% for state in states %}
                $('#story_state_{{state.state}}').attr('checked', {% if state.selected %} true {% else %} false {% endif %});
            {% endfor %}
        }

        function select_states() {
            var states = [];
            {% for state in states %}
                if ($("#story_state_{{state.state}}").is(':checked')) {
                    states.push('{{state.state}}');
                }
            {% endfor %}
            states = '/states=' + states.join(':');

            reset_states();
            window.location = window.location.href.replace(/\/states=[^/]+/, states);
        }

        var marked = {};
        var resize = {};
        var reorder_queue = [];
        var last_order = '';
        {% for obj in backlog %}
            {% ifequal obj.whatami "UserStory" %}
                marked['{{obj.id}}'] = false;
                resize['{{obj.id}}'] = ["{{obj.size|default_if_none:"null"}}", "{{obj.size|default_if_none:"null"}}"];
                last_order += ':us_{{obj.id}}';
            {% endifequal %}
            {% ifequal obj.whatami "Release" %}
                last_order += ':re_{{obj.id}}';
            {% endifequal %}
        {% endfor %}

        function isDirty(checkValid)
        {
            if (reorder_queue.length != 0) {
                return true;
            }
            for (story in marked) {
                if (marked[story]) {
                    if (!checkValid) { return true; }
                    if ($('#selected-iteration').val() != 'new') { return true; }
                    return ($('#iterationname').val() != '' && $('#iterationstarts').val() != '' && $('#iterationends').val() != '');
                }
            }
            for (story in resize) {
                if (resize[story][0] != resize[story][1]) {
                    return true;
                }
            }

            return false;
        }

        function iterationDetails(it)
        {
            if (it[it.selectedIndex].value == 'new') {
                $("#new-iteration").show();
            } else {
                $("#new-iteration").hide();
            }

            showSave();
        }

        window.onbeforeunload = askConfirm;
        function askConfirm()
        {
            if (isDirty(false)) {
                return "You have unsaved changes.";
            }
        }

        function enableArchive()
        {
            {% if earliest_archive %}
                $('#archivefetch').attr("disabled", $('#archivedate').val() == '' || isDirty(false));
            {% endif %}
        }

        function showSave()
        {
            if (isDirty(true)) {
                $("#save-changes").show();
            } else {
                $("#save-changes").hide();
            }

            enableArchive();
        }

        function savechanges()
        {
            var queue = reorder_queue.slice();

            it = {
                'command':  'set-iteration',
                'id':       $('#selected-iteration').val(),
                'name':     $('#iterationname').val(),
                'starts':   $('#iterationstarts').val(),
                'ends':     $('#iterationends').val()
            };
            for (story in marked) {
                if (marked[story]) {
                    if (it != null) {
                        queue.push(it);
                        it = null;
                    }
                    queue.push({
                        'command':  'assign-story',
                        'id':       story
                    });
                }
            }
            for (story in resize) {
                if (resize[story][0] != resize[story][1]) {
                    queue.push({
                        'command':  'set-size',
                        'id':       story,
                        'size':     resize[story][1]
                    });
                }
            }

            $('#command-queue').val(JSON.stringify(queue));

            reorder_queue = [];
            marked = {}
            resize = {}
            document.queuesubmit.submit();
        }

        function showIteration()
        {
            for (story in marked) {
                if (marked[story]) {
                    $("#iteration-form").show();
                    return;
                }
            }
            $("#iteration-form").hide();
        }

        function mark(cb, story)
        {
            marked[story] = cb.checked;
            showSave();
            showIteration();
        }

        function setsize(sel, story)
        {
            resize[story][1] = sel[sel.selectedIndex].value;
            showSave();
        }

        function backlogClass(c) {
            if (c.substring(0, 3) == 're_') { return 'Release'; }
            if (c.substring(0, 3) == 'us_') { return 'UserStory'; }
            return null;
        }

        $(document).ready(function() {
            reset_states();
            showSave();

            $("#iteration-form").hide();

            $(".storysize").bind("dblclick", function() {
                var id = this.id.substring("toggle-size-".length);

                var sel = $('#s' + id);
                sel.toggle();

                if (!sel.is(':visible')) {
                    resize[id][1] = resize[id][0];
                    sel.val(resize[id][0]);
                    showSave();
                }
            });

            $("#iterationstarts").datepicker({ dateFormat: 'yy-mm-dd' });
            $("#iterationends").datepicker({ dateFormat: 'yy-mm-dd' });
            {% if earliest_archive %}
                $("#archivedate").datepicker({
                    dateFormat: 'yy-mm-dd',
                    minDate: new Date({{earliest_archive.stamp.year}}, {{earliest_archive.stamp.month|add:"-1"}}, {{earliest_archive.stamp.day}})
                    });
            {% endif %}

            $("#user-story-list").tableDnD({
                onDragClass: "dragging",

                onDrop: function(table, row) {
                    var rows = table.tBodies[0].rows;

                    var pred = '___first';
                    var pred_found = false;
                    var prefix;
                    var id;
                    var new_order = '';
                    for (var i=0; i<rows.length; i++) {
                        id = rows[i].id;
                        if (backlogClass(id) == null) {
                            continue;
                        }

                        if (row.id == id) {
                            pred_found = true;
                        }
                        if (!pred_found) {
                            pred = id;
                        }

                        new_order += ':' + id;
                    }

                    //var goto = window.location.href + '/reorder/' + row.id + '/' + pred + '/';
                    //window.location = goto;

                    if (new_order != last_order) {
                        last_order = new_order;
                        reorder_queue.push({
                            'command':  'rank',
                            'target':   {'class': backlogClass(row.id), 'id': row.id.substring(3)},
                            'after':   {'class': backlogClass(pred), 'id': pred.substring(3)}
                        })
                    }

                    showSave();
                }
            });

            var pbl = $('#user-story-list')

            $("#filter").keyup(function() {
                $.uiTableFilter( pbl, this.value );
            })
        });
    </script>
{% endblock %}

{% block title %} User Stories in the Backlog {% endblock %}

{% if current_project %}
    {% block select_tab %} "backlog" {% endblock %}

    {% block content_header %}
        <h2>
            {% if current_project %}
                {{ current_project.name }} &raquo;
            {% endif %}
    
            Backlog
        </h2>

        {% if backlog %}
            <div id="us-resume">
                <span>Number of US in Backlog: <strong>{{ user_stories }}</strong> </span> 
                {% if velocity.sprint_length %}
                    <div>Velocity: {{ velocity.actual }} vs. {{ velocity.planned }} (avg sprint length {{ velocity.sprint_length|floatformat:0 }} days)</div>
                {% endif %}
                {% if suggestions %}
                    <div>Sizing accuracy: {{ suggestions.accuracy|floatformat:0 }}%, based on {{ suggestions.base }}</div>
                {% endif %}
        {% else %}
            No user stories in the backlog.
        {% endif %}
                <div>
                    <form name="states" action="#">
                        {% for state in states %}
                            <input type="checkbox" id="story_state_{{state.state}}" name="story_state_{{state.state}}" value="{{ state.state }}" />&nbsp;<label class="inline" for="story_state_{{state.state}}">{{state.name}}</label>
                        {% endfor %}
                        <input onclick="select_states(); return false" type="image" src="/agilito/bullet_go.png" alt="Submit Form" />
                    </form>
                </div>
        {% if backlog %}
            </div>
        {% endif %}
    {% endblock %}
    
    {% block content %}
        {% if backlog %}
            <form id="filter-form" action="#">Filter: <input name="filter" id="filter" value="" maxlength="30" size="30" type="text" /></form>
            <form id="iteration-form" action="#">
                Assign marked stories to
                    <select onchange="iterationDetails(this)" id="selected-iteration" class="resize">
                        <option value="new">New iteration</option>
                        {% for it in iterations %}
                            <option value="{{it.id}}">{{it.name}}</option>
                        {% endfor %}
                    </select>
                <span id="new-iteration">
                    Name: <input onchange="showSave()" id="iterationname" name="iterationname" value="{{newiteration.name}}" maxlength="40" size="40" type="text" />
                    Starts: <input onchange="showSave()" id="iterationstarts" name="iterationstarts" value="{{newiteration.starts}}" maxlength="10" size="10" type="text" />
                    Ends: <input onchange="showSave()" id="iterationends" name="iterationends" value="{{newiteration.ends}}" maxlength="10" size="10" type="text" />
                </span>
            </form>
            <table summary="product backlog" cellspacing="0" cellpadding="2" id="user-story-list">
                <thead>
                    <tr class="nodrop nodrag">
                        <th>Mark</th>
                        <th>Rank</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Size ({{ size }} total)</th>
                        {% if suggestions %}
                            <th>Suggested size</th>
                        {% endif %}
                        <th>State</th>
                        <th><!-- edit --></th>
                        <th><!-- move --></th>
                        <th><!-- delete --></th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for story in backlog %}
                        {% ifequal story.whatami "UserStory" %}
                            <tr id="us_{{story.id}}" class="{% cycle even,odd %}">
                                <td class="mark">
                                    {% if story.iteration %}
                                        {{story.iteration.name}}
                                    {% else %}
                                        <input type=checkbox name="mark" value="{{story.id}}" onclick="mark(this, {{story.id}});" />
                                    {% endif %}
                                </td>
                                <td class="rank">{{story.rank}}</td>
                                <td class="id">US{{story.id}}</td>
                                <td class="name"><a href="{{story.get_absolute_url}}">{{story.name}}</a>
                                    <ul class="tags">
                                        {% for tag in story.taglist %}
                                            <li><span class="small">{{ tag }}</span></li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td class="size">
                                    {% if sizes %}
                                        {% if story.size %}
                                            <span class="storysize" id="toggle-size-{{story.id}}">{{story.size|storysize}}</span>
                                        {% endif %}
                                        <select {% if story.size %}style="display:none"{% endif %} onchange="setsize(this, {{story.id}}); return false" class="resize" id="s{{story.id}}">
                                            {% for size in sizes %}
                                                <option
                                                    value="{{size|default_if_none:"null"}}"
                                                    {% ifequal size story.size %}selected="selected"{% endifequal %}>{{size|storysize}}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        {{story.size|storysize}}
                                    {% endif %}
                                </td>
                                {% if suggestions %}
                                    <td class="size {% if story.suggestion.is_benchmark %}size-benchmark{% endif %}">{{story.suggestion.size|storysize}}</td>
                                {% endif %}
                                <td class="state">
                                    <img src="/agilito/backlog-state/{{ story.backlog_state }}.png"
                                        title="{{ story.backlog_state }}" alt="{{ story.backlog_state }}" />
                                </td>
                                <td id="edit_us_{{story.id}}" class="edit-button">
                                    <a href="{% url agilito.views.userstory_edit current_project.id,story.id %}?last_page={{last_page}}">
                                    <img src="/agilito/pencil.png" alt="edit" title="edit" width="16" height="16" /></a>
                                </td>
                                <td id="move_us_{{story.id}}" class="edit-button">
                                    <a href="{% url agilito.views.userstory_move current_project.id,story.id %}?last_page={{last_page}}"
                                        onclick="popup(this, 'us-move'); return false">
                                    <img src="/agilito/bullet_go.png" alt="move" title="move" width="16" height="16" /></a>
                                </td>
                                <td id="delete_us_{{story.id}}" class="edit-button">
                                    <a href="{% url agilito.views.userstory_delete current_project.id,story.id %}?last_page={{last_page}}">
                                    <img src="/agilito/delete.png" alt="delete" title="delete" width="16" height="16" /></a>
                                </td>
                            </tr>
                        {% endifequal %}
                        {% ifequal story.whatami "Release" %}
                            {% with story as release %}
                                {% with release.release_date as release_date %}
                                    <tr id="re_{{release.id}}" class="release {{release_date.severity}}">
                                        <td><span class="release-state"/></td>
                                        <td colspan="{% if suggestions %}6{% else %}5{% endif %}">
                                            {{release.name}}{%if release.deadline %}, deadline: {{release.deadline}}{% endif %}{% if release_date.date or release_date.error %}, projected release date: {{release_date.date|default_if_none:"unknown"}}{% endif %}{% if release_date.error %} ({{release_date.error}}){% endif %}
                                        </td>

                                        <td id="edit_re_{{release.id}}" class="edit-button">
                                            <a href="{% url agilito.views.release_edit current_project.id,release.id %}?last_page={{last_page}}">
                                                <img src="/agilito/pencil.png" alt="edit" title="edit" width="16" height="16" /></a>
                                            </td>
                                        <td><!-- move --></td>
                                        <td id="delete_re_{{release.id}}" class="edit-button">
                                            <a href="{% url agilito.views.release_delete current_project.id,release.id %}?last_page={{last_page}}">
                                                <img src="/agilito/delete.png" alt="delete" title="delete" width="16" height="16" /></a>
                                        </td>
                                    </tr>
                                {% endwith %}
                            {% endwith %}
                        {% endifequal %}
                    {%endfor%}
                </tbody>
            </table>
            {% if earliest_archive %}
                <form name="archive" action="{%  url agilito.views.backlog_archived current_project.id %}" method="post">
                    <input type="submit" id="archivefetch" disabled="disabled" class="save" value="Fetch" />
                    backlog as it was on 
                        <input onchange="enableArchive()" id="archivedate" name="archivedate"
                            value="" maxlength="10" size="10" type="text" />
                </form>
            {% endif %}
            <form style="display:none" name="queuesubmit" id="queuesubmit" action="{% url backlog_save current_project.id %}?last_page={{last_page}}" method="post">
                <textarea name="command-queue" id="command-queue" class="mceNoEditor"></textarea>
                <input type="submit" class="save" value="Save" />
            </form>
        {% endif %}
    {% endblock %}
{% endif %}
