<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}Agilito Project Managment App{% endblock %}</title>
    <link rel="stylesheet" href="/agilito/css/style.css" type="text/css" media="screen" />

    <link rel="stylesheet" href="/agilito/css/forms.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/agilito/css/tables.css" type="text/css" media="screen" />
    {% block css%} {%endblock%}
    <script type="text/javascript" src="/agilito/js/jquery.js"></script>
    <script type="text/javascript" src="/agilito/js/ui.js"></script>
</head>

<body>
<h3>Taskboard</h3>
<table id="taskboard" cellspacing="0" cellpadding="2">
<thead>
    <tr>
        <th>Story</th>
        <th>To do</th>
        <th>In progress</th>
        <th>Done</th>
    </tr>
</thead>

<tbody>
{% for us in user_stories %}
    <tr>
        <td>
            <ul class="story">
                <li class="id"><span>{{ us.id }}</span></li>
                <li class="rank"><span>rank: {{ us.relative_rank }}</span></li>
                <li class="remaining"><span>remaining: {{ us.remaining|default_if_none:"-" }}</span></li>
                <li class="name"><span>{{ us.name }}</span></li>
            </ul>
        </td>
        <td>
            {% for ta in us.tasks %}
                {% if ta.is_defined %}
                    <ul class="task">
                        <li class="id"><span>{{ ta.id }}</span></li>
                        <li class="remaining"><span>remaining: {{ ta.remaining|default_if_none:"-" }}</span></li>
                        <li class="name"><span>{{ ta.name }}</span></li>
                    </ul>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for ta in us.tasks %}
                {% if ta.is_in_progress %}
                    <ul class="task">
                        <li class="id"><span>{{ ta.id }}</span></li>
                        <li class="remaining"><span>remaining: {{ ta.remaining|default_if_none:"-" }}</span></li>
                        <li class="name"><span>{{ ta.name }}</span></li>
                    </ul>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for ta in us.tasks %}
                {% if ta.is_complete %}
                    <ul class="task">
                        <li class="id"><span>{{ ta.id }}</span></li>
                        <li class="remaining"><span>remaining: {{ ta.remaining|default_if_none:"-" }}</span></li>
                        <li class="name"><span>{{ ta.name }}</span></li>
                    </ul>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</tbody>
</table>

</body>
</html>
