{% extends "master.html" %}

{% block js %}
<script type="text/javascript">

function task_details(value) {
    $.getJSON("/json/task/" + value + "/", function(data) {
            $('#story-name').text(data.story);
            $('#task-name').text(data.name);
            $("#id_estimate").attr("value", data.estimate);
            $("#id_remaining").attr("value", data.remaining);
            $("#id_actuals").attr("value", data.actuals);
            $("#id_state").attr("value", data.state);
            $("#id_task").attr("value", value);

            $("#id_remaining").data('old', data.remaining);
        });
}

function remaining_change() {
    if ($("#id_time_on_task").val() == '') {
        var $remaining = $("#id_remaining");
        var tot = parseFloat($remaining.data('old')) - parseFloat($remaining.val());
        $("#id_time_on_task").val('' + tot);
    }
}

$(window).ready(function(){
    $("#timelog dt").addClass("shown");
    $("#timelog dt").click(function() {
        $(this).toggleClass("shown").next().toggle("blind", {direction:"vertical"}, 200);
    });
    $("#timelog .level0:not(:first) dt").toggleClass("shown").next().toggle();
    $("#id_date").datepicker({dateFormat: "yy-mm-dd", duration: "fast", mandatory: true});
    $("input.tasks-select").click(task_details);

    $.fn.clickMenu.setDefaults({arrowSrc:'/agilito/right.gif'});
    $('#tasks-select').clickMenu({
        onClick: function() {
            $(this).find('span').each(function() {
                if (this.id) {
                    task = this.id.toLowerCase().match(/.*-[a-z][a-z]([0-9]+)$/)[1]
                    task_details(task);
                }
                return false;
            });
        }
    });

    if ('{{ selectedTask }}' != '') {
        task_details('{{ selectedTask }}');
    }

    $("#id_remaining").change(remaining_change);
});
</script>
{% endblock %}

{% block select_tab %} "timelog" {% endblock %}

{% block content %}
<h2>Log your hours!</h2>
{% if message %}
<p class="notice">{{ message }}</p>
{% endif %}
<form method="post" action="">
    <div id="timelog-wrapper">
        <div>
                {{ form.taskmenu }}
        </div>
        <table id="timelog" class="formfields">
            <tr>
                <td class="form-label">
                    <span>
                        Story
                    </span>
                </td>
                <td class="form-entry">
                    <p id="story-name"></p>
                </td>
            </tr>
            <tr>
                <td class="form-label">
                    <span>
                        Task
                    </span>
                </td>
                <td class="form-entry">
                    <p id="task-name"></p>
                </td>
            </tr>
        {% for field in form %}
        {% ifnotequal field.name "taskmenu" %}
            <tr class="{% if field.errors %}errors {% endif %} {% if field.field.required %}required{%endif%}">
                <td class="form-label">
                    <span>
                        {{ field.label_tag }}
                        {% if field.field.required and not field.errors %}<br/><span class="required-text">required</span>{%endif%}
                    </span>
                </td>
                <td class="form-entry">
                    <p> {{ field }} </p>
                    {% if field.help_text %}<p class="discreet">{{ field.help_text }}</p>{% endif %}
                    {% if field.errors %}{{ field.errors }}{% endif %}
                </td>
            </tr>
        {% endifnotequal %}
        {% endfor %}
        </table>
    </div>
<input type="submit" value="Apply">
</form>



{% endblock %}
