{% extends "agilito/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Not Found" %}{% endblock %}

{% block body %}
<h2>{% trans "Page Not Found" %}</h2>
{% blocktrans %}
<p>Sorry, you do not have access to view this page because
either the project or object does not exist or you have not been
assigned to the project.</p>
<p>If you think it's the latter, and you believe you <em>should</em>
have access, please contact that project's administrator.</p>
{% endblocktrans %}
{% endblock %} 
