{% extends "agilito/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Adding / Editing an attachment to {{ story }}" %}{% endblock %}

{% block body %}
<h2><small>{% trans "Adding / Editing an attachment to" %}</small><br /> {{ story }}</h2>
{% if form.is_multipart %}
    <form class="uniForm" enctype="multipart/form-data" method="post">
{% else %}
    <form method="post" class="uniForm">
{% endif %}{% csrf_token %}

{% include "agilito/generic_form.html" %}
<div class="buttonHolder">
    <input type="submit" class="save primaryAction" value="{% trans "Save" %}"/>
</div>
</form>
{% endblock %}
