{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}agilito{% endblock %}

{% block subnav %}
<!-- TODO: add menu links to base.html -->
{% if user.is_authenticated %}
{% if sidebar %}
{% for label, section in sidebar.items %}
<ul>
    {% for entry in section %}
    <li><a href="{{entry.url}}"
            {% for k, v in entry.properties.items %}
            {{k}}="{{v}}"
            {% endfor %}
            >{{entry.label}}</a></li>
    {% endfor %}
</ul>
{% endfor %}
{% else %}

<ul>
    <li>&nbsp;</li>
</ul>
{% endif %}
{% else %}
<ul>
    <li>&nbsp;</li>
</ul>
{% endif %}

{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{{STATIC_URL}}agilito/js/treeTable/src/javascripts/jquery.treeTable.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}agilito/js/jquery.clickmenu.js"></script>


<script type="text/javascript" src="{{STATIC_URL}}agilito/js/json2.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}agilito/js/jquery.cookie.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}agilito/js/jquery.clickmenu.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}agilito/js/jquery-ui-1.8.9.custom.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
        target = {% url agilito_index %};
        $("#project-selection").change(function(){
            var location = window.location.href.split('/');
            if (location.length >=5 && location[4] in {'backlog': '', 'iteration': '', 'taskboard': '', 'search': '', 'log': ''}) {
            location = '/' + location[4];
            } else {
            location = '/backlog/';
            }
            window.location= target+$(this).find(":selected").attr("value")+location;
            })

        $("#iteration-selection").change(function(){
            window.location= $(this).find(":selected").attr("value")
            })

        var selected_tab = {% block select_tab %} null {% endblock %};
        if (selected_tab != null) {
        $("#navtab-" + selected_tab).addClass("selected");
        }


        $(".show-datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
        $(".ui-datepicker-inline").hide();

        $("#zoombutton").click(function() {
                $("#zoomable").toggleClass("zoomed");
                $.cookie('zoomed', ($("#zoomable").is('.zoomed')).toString(), { path: '/' })
                });

        if ($.cookie('zoomed') == 'true') {
            $("#zoomable").addClass("zoomed");
        }
    $("#id_tasks").treeTable({initialState: "expanded"});
})

{% if comment_on %}
function show_reply_form(comment_id, url, person_name) {
    var comment_reply = $('#' + comment_id);
    var to_add = $( new Array(
                '<div class="response"><p>Reply to ' + person_name + ':</p>',
                '<form method="POST" action="' + url + '">',
                $('#comment-form').html(),
                '</form>',
                '</div>').join(''));

    to_add.css("display", "none");

    comment_reply.after(to_add);

    to_add.slideDown(function() {
            comment_reply.replaceWith(new Array('<a id="',
                    comment_id,'" href="javascript:hide_reply_form(\'',
                        comment_id, '\',\'', url, '\',\'', person_name,
                        '\')">Stop Replying</a>').join(''));
            });
}

function hide_reply_form(comment_id, url, person_name) {
    var comment_reply = $('#' + comment_id);
    comment_reply.next().slideUp(function (){
            comment_reply.next('.response').remove();
            comment_reply.replaceWith(new Array('<a id="',
                    comment_id,'" href="javascript:show_reply_form(\'',
                        comment_id, '\',\'', url, '\',\'', person_name,
                        '\')">reply</a>').join(''));
            });
}
{% endif %}
</script>


{% block js %}{% endblock %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{STATIC_URL}}agilito/js/treeTable/src/stylesheets/jquery.treeTable.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}agilito/css/base.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}agilito/css/tables.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}agilito/css/clickmenu.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}agilito/css/comments.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}agilito/css/content.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}agilito/css/forms.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}agilito/css/taskboard.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}agilito/css/zoomable.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}agilito/css/ui-lightness/jquery-ui-1.8.9.custom.css" type="text/css" media="screen" />
{% block link %}{% endblock %}
{% block css %}{% endblock %}
{% endblock %}

{% block left_tabs %}
{% if user.is_authenticated %}
    {% endif %}
        <ul class="tabs">{% spaceless %}
            <li id="tab_projects"><a href="{% url project_list  %}">{% trans "Projects" %}</a></li>
            {% if current_project %}
            <li id="tab_backlog"><a href="{% url product_backlog current_project.pk %}">{% trans "Backlog" %}</a></li>
            <li id="tab_iteration"><a href="{% url current_iteration_status current_project.pk %}">{% trans "Iteration" %}</a></li>
            <li id="tab_timelog"><a href="{% url timelog current_project.pk %}">{% trans "Log" %}</a></li>
            <li id="tab_hours"><a href="{% url current_iteration_hours current_project.pk %}">{% trans "Hours" %}</a></li>
            {% endif %}
        {% endspaceless %}</ul>
    {% if project_list and current_project %}
    <select id="project-selection">
        {% for project in project_list %}
        <option {% ifequal project.id current_project.id %} selected="selected" {% endifequal %} value="{{project.id}}">{{project.name}}</option>
        {% endfor %}
    </select>
{% endif %}
{% endblock %}
