{% load i18n %}
{% load threadedcommentstags %}
{% load agilito_utils %}
{% load uni_form_tags %}
{% load smart_links %}
{% load avatar_tags %}

{% if comment_on %}
<div class="comments_section">
    <h1>{% trans "Comments" %}</h1>
    {% get_threaded_comment_tree for comment_on as tree %}
    {% for comment in tree %}
    <div style="margin-left: {{ comment.depth }}em;" class="commentbox {% ifnotequal comment.depth 0 %}reply{% endifnotequal %}">
        <div>
            <div class="author">{% avatar comment.user 40 %}</div>
            {% auto_transform_markup comment as comment_markup %}{{ comment_markup|smartlinks }}
        </div>
        {% ifequal user comment.user %}
        <a id="d{{ comment.id }}" href="{% url tc_comment_delete comment.id %}">{% trans "delete" %}</a>
        {% endifequal %}
        <a id="c{{ comment.id }}" href="javascript:show_reply_form('c{{ comment.id }}','{% get_comment_url comment_on comment %}','{{ comment.user|fullusername }}')">{% trans "reply" %}</a>
    </div>
    {% endfor %}
    <form method="POST" action="{% get_comment_url comment_on%}">
        {% get_threaded_comment_form as comment_form %}
        <div id="comment-form">{% csrf_token %}
                {{ comment_form|as_uni_form }}
                <div class="buttonHolder">
                    <input class="primaryAction" type="submit" value="{% trans "Submit" %}" />
                </div>
        </div>
    </form>
</div>
{% endif %}
