{% load i18n %}
{% load threadedcommentstags %}
{% load agilito_utils %}
{% load uni_form_tags %}

<div>
    {% if comment_on %}
    <h1>{% trans "Comments" %}</h1>
    {% get_threaded_comment_tree for comment_on as tree %}
    {% for comment in tree %}
    <div style="margin-left: {{ comment.depth }}em;" class="commentbox {% ifnotequal comment.depth 0 %}reply{% endifnotequal %}">
        <quote>{{ comment.user|fullusername }} {% ifequal comment.depth 0 %}said{% else %}replied{% endifequal %}: (<a id="c{{ comment.id }}" href="javascript:show_reply_form('c{{ comment.id }}','{% get_comment_url comment_on comment %}','{{ comment.user|fullusername }}')">{% trans "reply" %}</a>)</quote><br/>
        <cite>{% auto_transform_markup comment %}</cite>
    </div>
    {% endfor %}
    <form class="uniForm" method="POST" action="{% get_comment_url comment_on%}">{% csrf_token %}
        {% get_threaded_comment_form as comment_form %}
        <div id="comment-form">
            <fieldset class="inlineLabels">
                {{ comment_form|as_uni_form }}
                <div class="buttonHolder">
                    <input class="primaryAction" type="submit" value="{% trans "Submit" %}" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}
</div>
