{% extends "agilito/base.html" %}
{% load i18n %}
{% block head_title %}{{object.name}}{% endblock %}
{% block body %}


<h2>{{ action }}</h2>
<h3>{{ object.name }}</h3>

<form method="post">{% csrf_token %}
    {% for field in form %}
        {% if field.is_hidden %}
            {{ field }}
        {% endif %}
    {% endfor %}
    <table class="formfields">
        {% for field in form %}
            {% if not field.is_hidden %}
            <tr class="{% if field.errors %}errors {% endif %} {% if field.field.required %}required{%endif%}">
                <td class="form-label">
                    <span>
                        {{ field.label_tag }}
                        {% if field.field.required and not field.errors %}<br/><span class="required-text">{% trans "required" %}</span>{%endif%}
                    </span>
                </td>
                <td class="form-entry">
                    <p> {{ field }} </p>
                    {% if field.help_text %}<p class="discreet">{{ field.help_text }}</p>{% endif %}
                    {% if field.errors %}{{ field.errors }}{% endif %}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>

    <input type="submit" class="save" value="{% trans "Save" %}"/>
</form>
{% endblock %}
