{% extends "agilito/base.html" %}
{% load i18n %}
{% block js %}
<script type="text/javascript">
$(window).ready(function(){
    $("#id_tasks").treeTable({initialState: "expanded"});
});
</script>
{% endblock %}
{% block head_title %}{{object.name}}{% endblock %}
{% block body %}


<h2>{% trans "Add / Edit Impediment" %}</h2>

<form method="post">{% csrf_token %}

    {% include "agilito/generic_form.html" %}
    <input type="submit" class="save" value="{% trans "Save" %}"/>
</form>
{% endblock %}
