{% extends "agilito/base.html" %}
{% load i18n %}
{% block head_title %}Import iteration into {{ project }}{% endblock %}
{% block body %}

<h2><small>{% blocktrans %}Import iteration into {% endblocktrans %}</small><br /> {{ project }}</h2>
{% if form.is_multipart %}
<form enctype="multipart/form-data" method="post">
{% else %}
<form method="post" >
    {% endif %}{% csrf_token %}
    {% include "agilito/generic_form.html" %}
  <div class="form-actions actions">
    <input type="submit" class="btn primary save" value="{% trans "Save" %}" />
</div>
</form>
{% endblock %}
