{% extends "agilito/base.html" %}
{% load i18n %}
{% load agilito_utils %}
{% load humanize %}
{% load markup %}
{% load avatar_tags %}

{% block body_class %}iteration agilito{% endblock %}

{% block link %}
<link rel="alternate" type="application/rss+xml"
    title="Iteration backlog for {{current_iteration.name}} ({{current_project.name}})"
    href="/feeds/iteration/{{current_project.id}}/{{current_iteration.id}}/" />
{% endblock %}

{% block js %}

    <!--[if IE]><script language="javascript" type="text/javascript" src="{{ STATIC_URL }}agilito/js/jquery.jqplot/excanvas.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}agilito/js/jquery.jqplot/jquery.jqplot.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}agilito/js/jquery.jqplot/plugins/jqplot.highlighter.js"></script>
    {% include "agilito/burndown.js" %}

<script type="text/javascript">
var selected_tag_ids;

$(window).ready(function(){
    $("#user-story-list").treeTable({initialState: "expanded", treeColumn: 1});
    $("#impediment-list").treeTable();

    {% if current_iteration %}
    burndown('burndown');
    {% endif %}
    
    $('.task-owner').each(function(){
        $owner = $(this);
        $owner.next().attr('title', $owner.html());
    });
    $('.reset-tags').click(function(){
        $(this).hide();
        $("tr.userstory").show();
        $("tr.task").show();
        $('.task-tag').removeClass('selected');
        $('.task-tag a').css({fontWeight:"normal"});
    })
    
    $('.collapse-all').click(function(){
        $('.reset-tags').trigger('click');
        $("tr.userstory").each(function() {
            $(this).removeClass("expanded");
            $(this).collapse();
        });
        return false;
    });
    
    $('.expand-all').click(function(){
        $('.reset-tags').trigger('click');
        $("tr.userstory").each(function() {
            $(this).addClass("expanded");
            $(this).expand();
        });
        return false;
    });
});

function highlightTag(ids)
{
    $('.reset-tags').show();
    $("tr.userstory").each(function() {
        $(this).removeClass("expanded");
        $(this).collapse();
    });
    $("tr.task .name a, .task-tag a").each(function() {
        $(this).css({fontWeight:"normal"});
        $(this).parent().removeClass('selected');
    });
    $("tr.userstory").hide();
    $("tr.task").hide();
    ids = ids.split(',');
    
    selected_tag_ids = ids
    for (i in ids) {
        id = ids[i];
        if (id.indexOf('us-') == 0) {
            $("#" + id).expand();
            $("#" + id).show();
        }
        if (id.indexOf('ta-') == 0) {
            $("#" + id).show();
            $("#" + id + " .name a").css({fontWeight:"bold"});

            classes = $("#" + id).attr('class').split(' ');
            prefix = "child-of-";
            plen = prefix.length;
            re = "^" + prefix;
            for (i in classes) {
                cls = classes[i];
                if (cls.match(re) == prefix) {
                    parent = '#' + cls.substring(plen);
                    $(parent).show();
                }
            }
        }
        if (id.indexOf('tag-') == 0) {
            $("#" + id + " a").css({fontWeight:"bold"});
            $("#" + id + " a").parent().addClass('selected');
        }
    }
}

</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}agilito/js/jquery.jqplot/jquery.jqplot.css" />
{% endblock %}

{% block head_title %}
    {% if current_iteration %}
        {{current_iteration.name}}
    {% else %}
    {% trans "There are no iterations in this project." %}
    {% endif %}
{% endblock %}

{% block body_header %}
{% include "agilito/iteration_status_header.html" %}
{% endblock %}

{% block body %}
    {% if current_iteration %}
    <div id="body-header">
        {% include "agilito/iteration_status_header.html" %}
    </div>
    <div>
        <div class="row">
        <div class="span12">
        <table summary="stories and tasks" id="user-story-list" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{% trans "Rank" %}</th>
                    <th>{% trans "Id" %}</th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "State" %}</th>
                    <th>{% trans "Size" %}</th>
                    <th>{% trans "Tasks" %}</th>
                    <th>{% trans "Actuals" %}</th>
                    <th>{% trans "To-Do" %}</th>
                    <th>{% trans "Failures" %}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr class="totals">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="total">{{planned}}</td>
                    <td class="total">{{estimated}}</td>
                    <td class="total">{{actuals}}</td>
                    <td class="total">{{remaining}}</td>
                    <td class="total">{{failures}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                {% for us in stories %}
                {% url agilito_userstory_detail current_project.id us.id as userstory_url %}
                <tr id="us-{{us.id}}" class="userstory {% cycle even,odd %} 
                                {%if not us.is_blocked and not us.is_starved %}normal{% endif %}
                                {%if us.is_blocked%}blocked{% endif %} {%if us.is_starved%}starved{% endif %}">
                    <td class="rank">{{us.relative_rank}}</td>
                    <td class="id"><a href="{{userstory_url}}">US{{us.id}}</a></td>
                    <td class="name{% if us.is_archived %} archived{% endif %}"><a href="{{us.get_absolute_url}}">{{us.name}}</a></td>
                    <td class="state {{ us.state|storystate|slugify }}">{{us.state|storystate}}</td>
                    <td class="planned">{{us.size|storysize|default_if_none:"-"}}</td>
                    <td class="estimated">{{us.estimate|default_if_none:"-"}}</td>
                    <td class="actuals">{{us.actuals|default_if_none:"-"}}</td>
                    <td class="todo">{{us.remaining|default_if_none:"-"}}</td>
                    <td class="failures {% if us.failures %} fail {% endif %}">
                        {% if us.failures %}
                        <a href="{{userstory_url}}#test-cases">{{us.failures|default_if_none:"-"}}</a>
                        {% else %}
                        {{us.failures|default_if_none:"-"}}
                        {%endif%}
                    </td>

                    <td id="add_task_us_{{us.id}}" class="">
                        {% if not us.is_archived %}
                        <a href="{% url agilito.views.task_create current_project.id,us.id %}?last_page={{last_page}}"><img
                            src="{{ STATIC_URL }}agilito/img/add.png" alt="add task" title="add task" width="16" height="16" /></a>
                        {% endif %}
                    </td>

                    <td id="edit_us_{{us.id}}" class="">
                        <a href="{% url agilito.views.userstory_edit current_project.id,us.id %}?last_page={{last_page}}"><img
                            src="{{ STATIC_URL }}agilito/img/pencil.png" alt="edit" title="edit" width="16" height="16" /></a>
                    </td>

                    <td id="delete_us_{{us.id}}" class="">
                        {% if not us.is_archived %}
                        <a href="{% url agilito.views.userstory_delete current_project.id,us.id %}?last_page={{last_page}}"><img
                            src="{{ STATIC_URL }}agilito/img/delete.png" alt="delete" title="delete" width="16" height="16" /></a>
                        {% endif %}
                    </td>

                    <td id="move_us_{{us.id}}" class="">
                        <a href="{% url agilito.views.userstory_move current_project.id,us.id %}?last_page={{last_page}}">
                            <img src="{{ STATIC_URL }}agilito/img/bullet_go.png" alt="move" title="move" width="16" height="16" />
                        </a>
                    </td>
                </tr> 

                {% for ta in us.tasks.all %}
                {% url agilito_task_detail current_project.id us.id ta.id as task_url %}
                <tr id="ta-{{ta.id}}" class="task child child-of-us-{{us.id}} {% cycle even,odd %} {%if ta.is_blocked%}blocked{% endif %}">
                    <td></td><!-- rank -->
                    <td class="id"><a href="{{task_url}}">TA{{ta.id}}</a></td>
                    <td class="name"><a href="{{task_url}}">{{ta.name}}</a>
                        <ul class="tags">
                            {% for tag in ta.taglist %}
                            <li><span class="small">{{ tag }}</span></li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="state {{ ta.state|taskstate|slugify }}">{{ta.state|taskstate}}</td>
                    <td></td>
                    <td class="estimated">{{ta.estimate|default_if_none:"-"}}</td>
                    <td class="actuals">{{ta.time_on_task}}</td>
                    <td class="todo">{{ta.remaining|default_if_none:"-"}}</td>
                    <td></td>
                    <td>
                        {% if not ta.is_archived %}
                        <a href="{% url agilito.views.timelog_task current_project.id,ta.id %}?last_page={{last_page}}">
                            <img src="{{ STATIC_URL }}agilito/img/log.png" alt="log" title="log" width="16" height="16" />
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if not ta.is_archived %}
                        <a id="task_edit_{{ta.id}}"
                            href="{% url agilito.views.task_edit current_project.id,us.id,ta.id %}?last_page={{last_page}}"><img
                            src="{{ STATIC_URL }}agilito/img/pencil.png" alt="edit"
                            title="edit" width="16" height="16" /></a>
                        {% endif %}
                    </td>
                    <td>
                        {% if not ta.is_archived %}
                        <a id="task_del_{{ta.id}}" href="{% url agilito.views.task_delete current_project.id,us.id,ta.id %}?last_page={{last_page}}">
                            <img src="{{ STATIC_URL }}agilito/img/delete.png" alt="delete" title="delete" width="16" height="16" />
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        <div class="task-owner" style="display:none;">{{ta.owner}}</div>
                        {% if ta.owner %}{% avatar ta.owner 16 %}{% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
        {% if impediments.open or impediments.resolved %}
        <div class="row">
            <div class="span12">
                <h3>{% trans "Impediments" %}</h3>
        <table id="impediment-list" >
            <thead>
                <tr>
                    <th style="width:10%;">{% trans "Id" %}</td>
                    <th style="width:10%;">{% trans "Tasks" %}</td>
                    <th style="width:10%;">{% trans "Risk" %}</td>
                    <td>{% trans "Name" %}</td>
                </tr>
            </thead>

            <tbody>
                {% if impediments.open %}
                {% for impediment in impediments.open %}
                <tr class="{% cycle even,odd %}" id="impediment-{{ impediment.id }}">
                    {% url impediment_edit current_project.id current_iteration.id impediment.id as impediment_url %}
                    <td><a href="{{ impediment_url }}?last_page={{last_page}}">IM{{ impediment.id }}</a></td>
                    <td>{{ impediment.tasks.count }}</a></td>
                    <td>{{ impediment.risk }}</a></td>
                    <td><a href="{{ impediment_url }}?last_page={{last_page}}">{{ impediment.name }}</a></td>
                </tr>

                {% for task in impediment.tasks %}
                <tr id="impediment-{{ impediment.id }}-task-{{ task.id }}" class="child {% cycle even,odd %} child-of-impediment-{{ impediment.id }}">
                    <td>TA{{ task.id }}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>{{ task.name }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
                {% endif %}

                {% if impediments.resolved %}
                <tr id="resolved-impediments">
                    <td>&nbsp;</td>
                    <td>{{ impediments.resolved.count }}</a></td>
                <td>&nbsp;</td>
                <td>{% trans "Resolved" %}</td>
            </tr>

            {% for impediment in impediments.resolved %}
            <tr id="impediment-{{ impediment.id }}" class="child-of-resolved-impediments">
                <td><a href="{{ impediment.get_absolute_url }}?last_page={{last_page}}">IM{{ impediment.id }}</a></td>
                <td>{{ impediment.tasks.count }}</a></td>
            <td>&nbsp;</td>
            <td><a href="{{ impediment.get_absolute_url }}?last_page={{last_page}}">{{ impediment.name }}</a></td>
        </tr>

        {% for task in impediment.tasks %}
        <tr id="impediment-{{ impediment.id }}-task-{{ task.id }}" class="child-of-impediment-{{ impediment.id }}">
            <td>TA{{ task.id }}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>{{ task.name }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endif %}

    </div>

    {% include "agilito/comments_section.html" %}
    {% else %}
    <p>{% trans "There are no iterations in this project." %}</p>
    <p>{% trans "Want to add its first iteration?" %} <a href="{% url iteration_create current_project.id %}">{% trans "Click Here" %}</a></p>
    {% endif %}

{% endblock %}
