{% load i18n %}
{% load humanize %}
{% load markup %}
{% if current_iteration %}
<div id="iteration-header" class="row">
    <div id="iteration-data" class="span7"> 
        <table summary="Iteration data">
            <tr>
                <td colspan="2">
                    {{ current_project.name }} &raquo;
                    {% if current_project.iteration_set.all %}
                    {% with current_project.iteration_set.all as itset %}
                    {% ifnotequal itset.count 1 %}
                    <select id="iteration-selection" style="width:10em">
                        {%for iteration in itset %}
                        <option {% ifequal iteration.id current_iteration.id %} selected="selected" {%endifequal%}
                        value="{% url iteration_status_with_id current_project.id iteration.id %}">{{ iteration.name }}</option>
                        {%endfor%}
                    </select>
                    {% else %}
                    {% with itset.0 as iteration %}
                    {{ iteration.name }}
                    {% endwith %}
                    {% endifnotequal %}
                    {% endwith %}
                    {% endif %}
                    {% if current_iteration.release.name %}<span> &raquo; {% trans "Release:" %} {{current_iteration.release.name}}</span>{% endif %}

                    <p>&nbsp;</p>
                    <span>{% trans "Start date:" %} <strong>{{current_iteration.start_date|naturalday}}</strong> </span> |
                    <span>{% trans "End date:" %} <strong>{{current_iteration.end_date|naturalday}}</strong> </span>
                    <div class="description">{{current_iteration.description|safe}}</div>
                </td>
            </tr>
            <tr>
                <td>{% trans "Accepted" %}</td>
                <td>{{us_accepted_percentage|floatformat:0 }} %</td>
            </tr>
            <tr>
                <td>{% trans "Stories" %}</td>
                <td>{{ stories|length }}</td>
            </tr>
            {% if velocity.planned %}
            <tr>
                <td>{% trans "Velocity" %}</td>
                <td>{% trans "currently" %} {{ velocity.actual|default_if_none:"unknown" }} vs {{ velocity.planned }} {% trans "planned" %}</td>
            </tr>
            {% endif %}
            <tr>
                <td><a href="#" class="collapse-all">Collapse All</a></td>
                <td><a href="#" class="expand-all">Expand All</a></td>
            </tr>

            {% if unsized %}
            <tr class="starved">
                <td colspan=2>{% trans "This iteration has unsized stories -- the story points burndown will be off" %}</td>
            </tr>
            {% endif %}

            {% regroup tags|dictsort:"tag" by tag as grouped_tags %}
            <tr class="topline">
                <td>{% trans "Tags" %} <img title="{% trans 'Reset tag filter' %}" src="{{STATIC_URL}}pinax/img/silk/icons/cancel.png" class="reset-tags" style="display:none;"/></td>
                <td>
                    <ul class="tags">
                        {% for tag in grouped_tags %}
                        <li id="tag-{{tag.grouper|slugify}}" class="big task-tag">
                            <a href="#" onclick="{% for elt in tag.list %}highlightTag('tag-{{tag.grouper|slugify}},{{ elt.data }}');{% endfor %}return false">{{ tag.grouper }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div id="burndown" class="hidden-phone span5">
    </div>
</div>
{% endif %}
