{% extends "agilito/base.html" %}
{% load i18n %}
{% block subnav %}
<ul>
	<li>
		<a href="{% url project_create %}">{% trans "Add Project" %}</a>
	</li>
</ul>
{% endblock %}

{% block head_title %}{% trans "Projects" %}{% endblock %}
{% block body_class %}agilito projects{% endblock %}

{% block body %}
  
  <h2>{% trans "Projects" %}</h2>

    {% if object_list %}
    <table class="pretty-table" id="user-story-list" cellspacing="0" cellpadding="2">
        <tbody>
            {% for object in object_list %}
            <tr class="{% cycle even,odd %}">
                <td class="name"><a href="{{object.get_absolute_url}}">{{object.name}}</a></td>
            </tr> 
            {% endfor %}
        </tbody>
    </table>
    {% if page_range %}
    <ul>
        {% for page in page_range %}
            <li><a href="{% url 'project_list' %}?page={{page}}">{{ page }}</a></li>
        {% endfor %}
    </ul>        
    {% endif %}


    {% else %}
    <p><strong>{% trans "No results found" %}</strong></p>
    {% endif %}
  
{% endblock %}
