{% extends "agilito/base.html" %}
{% load i18n %}
{% block subnav %}
<ul>
	<li>
		<a href="{% url project_create %}">{% trans "Add Project" %}</a>
	</li>
</ul>
{% endblock %}

{% block head_title %}{% trans "Projects" %}{% endblock %}
{% block body_class %}agilito projects{% endblock %}

{% block body %}
  <h2>{{project.name}}</h2>
  <h3>{% trans "Members" %} </h3>
  <ul>
      {% for member in project.project_members.all %}
        <li>{{member}}</li>
      {% endfor %}
  </ul>
  <h3>{% trans "Releases" %} </h3>
  <ul>
      {% for re in project.release_set.all %}
        <li>{{re}}</li>
      {% endfor %}
  </ul>
  <h3>{% trans "Iterations" %} </h3>
  <ul>
      {% for it in project.iteration_set.all %}
        <li><a href="{% url iteration_status_with_id project.id it.id  %}">{{it}}</a></li>
      {% endfor %}
  </ul>
{% endblock %}