{% load i18n %}
{% load bootstrap_tags %}
<h1>{% trans "Search" %}</h1>
<form  action="{% url agilito.views.search current_project.id %}">
    <div class="ctrlHolder">
        <input type="text" name="query" class="textInput styled" value="{{ query|escape }}" size=40/>
        <select name="model">
            <option value="User Story">{% trans "User Stories" %}</option>
            <option value="Task">{% trans "Tasks" %}</option>
            <option value="Test Case">{% trans "Test Cases" %}</option>
        </select>
        <div class="form-actions actions">
		    <input type="submit" class="btn primary save" value="{% trans "Search" %}" />
		</div>
    </div>
</form>
