{% extends "agilito/base.html" %}
{% load i18n %}
{% load markup %}
{% load humanize %}

{% block head_title %}{{ task.name }}{% endblock %}

{% block body %}
<ul class="breadcrumbs">
    <li id="breadcrumb-project">{{ task.user_story.project.name }} &gt; </li>
    <li id="breadcrumb-iteration"><a href="{{ task.user_story.iteration.get_absolute_url }}">{{ task.user_story.iteration.name }}</a> &gt; </li> 
    <li id="breadcrumb-story"><a href="{{ task.user_story.get_absolute_url }}">{{ task.user_story.name }}</a> &gt; </li> 
    <li id="breadcrumb-task">{{ object.name }} </li>
    <li class="visualClear" />
</ul>

<div id="us-head"> 
    <h2> TA{{task.id}}: {{task.name}} {% include "agilito/short_url.html" with object=task %}</h2>
    <span class="{{task.get_state_display|slugify }}">{% trans "State:" %} {{task.get_state_display}}</span> 
    <div class="visualClear"></div>
</div>

<div id="us-resume">
    <span>{% trans "Planned:" %} <strong>{{task.planned}}</strong> | </span>
    <span>{% trans "Estimate:" %} <strong>{{task.estimate}}</strong> | </span>
    <span>{% trans "To Do:" %} <strong>{{task.remaining}}</strong> | </span>
    <span>{% trans "Actuals:" %} <strong>{{task.actuals}}</strong> | </span>
    {%if task.owner %} 
    <span>{% trans "Owner:" %} <strong>{{task.owner}}</strong></span>
    {%else%}
    <span>{% trans "Owner:" %} <strong>{% trans "No owner" %}</strong></span>
    {%endif%}
</div>

<div class="description">{{task.description|markdown}}</div>

<h2>{% trans "Tasklog" %}</h2>

{% include "agilito/log_list.html" with logs=task.tasklog_set.all show_user=1 %}

{% include "agilito/comments_section.html" %}
{% endblock %}
