{% load markup %}
{% load humanize %}
<table class="pretty-table">
    <tr class="{% cycle even,odd%}">
        <td>TR{{object.id}}</td>
        <td><a href="{{testcase.get_absolute_url}}">{{object.test_case.name}}</a></td>
        <td>{{object.get_result_display}}</td>
        <td>{{object.date|naturalday}}</td>
        <td>{{object.tester}}</td>        
        <td class="description">{{object.comments}}</td>
        <td id="edit_testresult_{{object.id}}" class=""><a href="{% url agilito.views.testresult_edit current_project.id,current_story.id,testcase.id,object.id %}?last_page={{last_page}}"><img src="{{ STATIC_URL }}agilito/img/pencil.png" alt="edit" title="edit" width="16" height="16" /></a></td>
        <td id="delete_testresult_{{object.id}}" class=""><a href="{% url agilito.views.testresult_delete current_project.id,current_story.id,testcase.id,object.id %}?last_page={{last_page}}"><img src="{{ STATIC_URL }}agilito/img/delete.png" alt="delete" title="delete" width="16" height="16" /></a></td>
    </tr>
</table>