{% extends "agilito/base.html" %}
{% load i18n %}
{% block head_title %}{{object.name}}{% endblock %}
{% block body %}

<h2>{% trans "deleting" %} {{ object }}</h2>
<p>{% trans "Are you sure you want to delete this?" %}
{% if deleted_objects %}{% trans "All of the following related items will be deleted:" %}
<ul>{{ deleted_objects|unordered_list }}</ul>{% endif %}
<form method="post">{% csrf_token %}
  <input type="hidden" name="post" value="yes" />
<div class="form-actions actions">
    <input type="submit" class="btn primary save" value="{% trans "Yes, I'm sure" %}" />
</div>
</form>
{% endblock %}
