{% extends "agilito/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Adding / Editing a Test Result to" %} {{ testcase }}{% endblock %}
{% block body %}

<h2><small>{% trans "Adding / Editing a Test Result to" %}</small><br /> {{ testcase }}</h2>
<form method="post" >{% csrf_token %}
    {% include "agilito/generic_form.html" %}
    <div class="form-actions actions">
    	<a href="#back" class="btn">Go back</a>
    	<input type="submit" class="btn primary save" value="{% trans "Save" %}" />
	</div>
</form>
{% endblock %}
