{% extends "agilito/base.html" %}
{% load i18n %}
{% block head_title %}{{ object.name }}{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>{% trans "Id" %}</th>
            <th>{% trans "Test Name" %}</th>
            <th>{% trans "Test Result" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Tester" %}</th>
            <th>{% trans "Comments" %}</th>
        </tr>
    </thead>
    <tbody>
        {% include "agilito/testresult.html" %}
    </tbody>
</table>
{% endblock %}
