{% extends "agilito/base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% block subnav %}
<ul>
    <li><a href="{% url timelog current_project.pk %}">{% trans "Log Hours" %}</a></li>
    <li><a href="{% url agilito_tasklog_mylog current_project.pk %}">{% trans "My Log" %}</a></li>
</ul>
{% endblock %}

{% block head_title %}{% trans "My Log" %}{% endblock %}
{% block body_class %}agilito timelog{% endblock %}

{% block body %}
  
  <h2>{% trans "My Log" %}</h2>

  {% include "agilito/log_list.html" %}
  
{% endblock %}
