{% extends "agilito/base.html" %}
{% load i18n %}
{% load uni_form_tags  %}

{% block body_class %}timelog{% endblock %}

{% block js %}
<script type="text/javascript">

function task_details(value) {
    $.getJSON("{% url agilito_index %}json/task/" + value + "/", function(data) {
            $('#story-name').text(data.story);
            $('#task-name').text(data.name);
            $("#id_estimate").attr("value", data.estimate);
            $("#id_remaining").attr("value", data.remaining);
            $("#id_actuals").attr("value", data.actuals);
            $("#id_state").attr("value", data.state);
            $("#id_task").attr("value", value);

            $("#id_remaining").data('old', data.remaining);
        });
}

function remaining_change() {
    var $remaining = $("#id_remaining");
    var tot = parseFloat($remaining.data('old')) - parseFloat($remaining.val());

    if ($("#id_time_on_task").val() == '') {
        $("#id_time_on_task").val('' + tot);
    }
    if ($("#id_summary").val() == '') {
        $("#id_summary").val('Spent ' + tot + ' hours');
    }
}

$(window).ready(function(){
    $("#timelog dt").addClass("shown");
    $("#timelog dt").click(function() {
        $(this).toggleClass("shown").next().toggle("blind", {direction:"vertical"}, 200);
    });
    $("#timelog .level0:not(:first) dt").toggleClass("shown").next().toggle();
    $("#id_date").datepicker({dateFormat: "yy-mm-dd", duration: "fast", mandatory: true});
    $("input.tasks-select").click(task_details);

    $.fn.clickMenu.setDefaults({arrowSrc:'/agilito/right.gif'});
    $('#tasks-select').clickMenu({
        onClick: function() {
            $(this).find('span').each(function() {
                if (this.id) {
                    task = this.id.toLowerCase().match(/.*-[a-z][a-z]([0-9]+)$/)[1]
                    task_details(task);
                }
                return false;
            });
        }
    });

    if ('{{ selectedTask }}' != '') {
        task_details('{{ selectedTask }}');
    }

    $("#id_remaining").change(remaining_change);
});
</script>
{% endblock %}

{% block select_tab %} "timelog" {% endblock %}

{% block body %}
<h2>{% trans "Log your hours!" %}</h2>
{% if message %}
<p class="notice">{{ message }}</p>
{% endif %}
<form method="post" action="" class="uniForm">{% csrf_token %}

    <div id="timelog-wrapper">
        <div>
            {{ form.taskmenu }}
        </div>
        <fieldset id="timelog" class="inlineLabels">
                    <p>{% trans "Story" %}</p>
                    <p id="story-name"></p>
                    <p>{% trans "Task" %}</p>
                    <p id="task-name"></p>
            {% for field in form %}
            {% ifnotequal field.name "taskmenu" %}
                {{ field|as_uni_field }}
            {% endifnotequal %}
            {% endfor %}
        </fieldset>
    </div>

    <div class="buttonHolder">
        <input type="submit" class="primaryAction save" value="{% trans "Apply" %}"/>
    </div>
</form>
{% endblock %}
