{% load i18n %}
<li>
    <div class='user-story' id='{{ us.id }}'>
        <div class="edit-form-container"></div>
        <div class='resume'>
            <strong class="info">
                <span class='rank'>{{ us.rank }}</span>
                <a href='#' class="collapse-controls">
                    <img src='{{ STATIC_URL }}agilito/images/add.png' class="us-expand" alt="expand" />
                    <img src='{{ STATIC_URL }}agilito/images/remove.png' class="us-collapse" alt="collapse" style="display:none"/>
                </a>
                <a href="{{ us.get_absolute_url }}" class='title' id="{{us.id}}">US{{us.id}}: <span id="us-span-{{us.id}}" class="name">{{ us.name }}</span></a>

            </strong>
            <span class="extra">
                <span class='est'>{{ us.planned }}</span>
                <a class="edit" href="{% url agilito.views.userstory_edit current_project.id,us.id %}"><img src='{{ STATIC_URL }}agilito/images/edit.png' alt="edit"/></a>
                <a href='#' ><img src='{{ STATIC_URL }}agilito/images/trash.png' alt="delete"/></a>
            </span>
            <div class="visualClear"></div>
        </div>
        <div class='details' style="display:none">
            <div class='description'>{{ us.description }}</div>
        </div>
    </div>
</li>
