{% extends "agilito/base.html" %}
{% load i18n %}
{% load markup %}
{% block head_title %}{{object.name}}{% endblock %}
{% comment %}
{% block subnav %}
<ul>
    <li><a href="{% url agilito_userstory_edit current_project.id current_story.id  %}">{% trans "Edit this story" %}</a></li>
    <li><a href="{% url agilito_userstory_delete current_project.id current_story.id %}">{% trans "Delete this story" %}</a></li>
    <li><a href="{% url agilito_add_attachment current_project.id current_story.id %}">{% trans "Add an attachment" %}</a></li>
    <li><a href="{% url agilito_task_create current_project.id current_story.id %}">{% trans "Add a task" %}</a></li>
    <li><a href="{% url agilito_testcase_create current_project.id current_story.id %}">{% trans "Add a test case" %}</a></li>
</ul>
{% endblock %}
{% endcomment %}
{% block css %}
<style>
    #us-head h2 span {
        float:right;
    }
    #us-resume {
        width:96%;
        padding:0 2%;
        margin:10px 0;
        background-color:#ddeeff;
    }
    
    #us-resume #rank {
        font-size:30px;
    }
    
    #us-resume .state, #us-resume .time {
        float:left;
        width:50%;
    }
    
    #us-resume .state {
        text-align:right;
    }
    
    ul.time {
        list-style:none;
        padding:0;
    }
    
</style>
{% endblock %}

{% block body %}
<ul class="breadcrumbs">
    <li id="breadcrumb-project">{{ object.project.name }} &gt; </li>
    {% if object.iteration %}
    <li id="breadcrumb-iteration"><a href="{{ object.iteration.get_absolute_url }}">{{ object.iteration.name }}</a> &gt; </li> 
    {% else %}
    <li id="breadcrumb-backlog"><a href="/{{ object.project_id }}/backlog">{% trans "Backlog" %}</a> &gt; </li>
    {% endif %}
    <li id="breadcrumb-story">{{ object.name }}</li>
    <li class="visualClear" />
</ul>
<div id="us-head" {%if object.is_blocked%}class="blocked"{% endif %}> 
    <h2>{{ object }}</h2>
    <div class="visualClear"></div>
</div>
<div id="us-resume">
    <ul class="time">
        <li><span id="estimate">{% trans "Estimate:" %} <strong>{{object.estimated}}</strong></span></li>
        <li><span id="actuals">{% trans "Actuals:" %} <strong>{{object.actuals}}</strong></span></li>
        <li><span id="remaining">{% trans "Remaining:" %} <strong>{{object.remaining}} </strong></span></li>
        {% if object.planned %}
        <li><span id="planned">{% trans "Planned:" %} <strong>{{object.planned}}</strong></span></li>
        {% endif %}
    </ul>
    <div class="state">
        <p><strong id="rank">
        {% if object.rank %}
        {{ object.size_label }}
        {% else %}
        -
        {% endif %}
        </strong></p>
        <p id="state" class="{{ object.get_state_display|slugify }}">{% trans "State:" %} {{object.get_state_display}} {% if object.is_blocked %}{% trans "blocked" %}{% endif %}</p>
        {% if object.is_blocked %}
        <span style="display:none" id="blocked">{{object.is_blocked}}</span>
        {% endif %}
    </div>  
    <div class="visualClear"></div>
</div>

    <div id="description" class="description">{{object.description|markdown}}</div>

<h3>{% trans "Attachments" %}</h3>
{% if object.userstoryattachment_set.all %}
<table class="pretty-table attachments" >
<thead>
    <tr>
        <th style="width:3%;"></th>
        <th style="width:20%;"></th>
        <th style="width:71%;"></th>
        <th style="width:3%;"></th>
        <th style="width:3%;"></th>
    </tr>
</thead>
<tbody>
{% for attach in object.userstoryattachment_set.all %}
    <tr class="{% cycle even,odd %}">
    <td><span rel="{{attach.attachment}}" class="icon"></span></td>
        <td>
            <a href="{% url agilito.views.view_attachment current_project.id,object.id,attach.id %}"> 
                {{attach.name}}
            </a>
        </td>
        <td>
            {{attach.description|safe}}
        </td>
        <td>
            <a id="att_dwld" href="{{attach.attachment.url}}"> 
                <img src="{{ STATIC_URL }}agilito/img/save.png" alt="download this file" />
            </a>
        </td>
        <td>
            <a id="att_del" href="{% url agilito.views.delete_attachment current_project.id,object.id,attach.id %}?last_page={{last_page}}">
            <img src="{{ STATIC_URL }}agilito/img/delete.png" alt="delete" title="delete" width="16" height="16" />
        </a>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
{% else%}
<p>{% trans "No attachments for this user story" %}</p>
{% endif %}

<h3 id="tasks">{% trans "Tasks" %}</h3>
  {% if object.task_set.all %}

  <table class="pretty-table">

      <thead>
          <tr>
              <th>{% trans "Id" %}</th>
              <th>{% trans "Task Name" %}</th>
              <th>{% trans "State" %}</th>
              <th>{% trans "Planned" %}</th>
              <th>{% trans "Estimate" %}</th>
              <th>{% trans "To do" %}</th>
              <th>{% trans "Actuals" %}</th>
              <th>{% trans "Owner" %}</th>
              <th></th>
              <th></th>
              <th></th>
          </tr>
      </thead>

      <tbody>
          {% for task in object.task_set.all %}
          {% include "agilito/task.html" %}
          {%endfor%}
      </tbody>
  </table>

{% else %}
<p>{% trans "No tasks for this user story" %}</p>
{% endif %}


<h3 id="test-cases">{% trans "Test Cases" %}</h3>

{% if object.testcase_set.all %}
<table class="pretty-table" >
<thead>
    <tr>
        <th>{% trans "Id" %}</th>
        <th>{% trans "Test Name" %}</th>
        <th>{% trans "Result" %}</th>
        <th>{% trans "Priority" %}</th>
        <th>{% trans "Description" %}</th>
    </tr>
</thead>

<tbody>
{% for object in object.testcase_set.all %}
{% include "agilito/testcase.html" %}
{%endfor%}
</tbody>
</table>
{% else %}
<p>{% trans "No tests for this user story" %}</p>
{% endif %}
{% endblock %}
