.commentbox .author {
    position:absolute;
    right:5px;
}

.commentbox cite {
    padding-top: 0;
    padding-bottom: 0;
}

.commentbox {
    padding: 5px;
    margin-top:5px;
    margin-bottom:5px;
    border:1px dotted #CCC;
    position:relative;
    min-height:40px;
}

#comment-form {
    padding-top: 10px;
}

.commentbox > div {
    padding-right: 50px;
}

#comment-form ul {
    list-style-type:none;
}

