a {
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}


a img {
    border: 0;
}

#tasks-select, #tasks-select li, #tasks-select li li, #tasks-select li li li {
    background: none;
    clear: none;
    list-style: none;
    font: normal 100% "Lucida Sans Unicode",sans-serif;
}

td {
    vertical-align: top;
    text-align: left 
}

#iteration-data {
    float: left;
    width: 50%;
}

#iteration-data .tags li {
    padding:2px 6px;
    margin:2px 2px;    
}
#iteration-data .tags li:hover, #iteration-data .tags li.selected {
    background:#def;
}

#iteration-data .tags li a {
    color:#333;
}

#iteration-data .tags li a:hover {
    text-decoration:none;
}

#burndown {
    float: right;
}

.action-link {
    padding-left: 20px;
    background: no-repeat top left;
}
.action-link.edit { background-image: url("../img/pencil.png") }
.action-link.delete { background-image: url("../img/delete.png") }
.action-link.add-object { background-image: url("../img/add.png") }

/* tag display */
ul.tags {
    margin: 0;
    padding: 0;
    /* list-style-type: none: */
    display: inline;
}
ul.tags li {
    display: inline-block;
    list-style-type: none;
}
ul.tags span.big {
    padding-right: 1em;
}
ul.tags span.small {
    padding-left: 0.5em;
    font-size: x-small;
    font-style: italic;
}

/* timelog screen */
#timelog form p, #timelog > li {
    clear:left;
    width:30em;
    padding:0.25em;
    margin:0 0 0.5em;
}

#timelog .required-text {
    float: right;
}

#timelog .form-label, #timelog .form-entry {
    vertical-align: top;
}
#timelog .form-label span {
    float: right;
}

#timelog > li > ul { 
    padding: 4px;
    font-size: smaller;
    display: inline-block;
}
#timelog ul, #timelog dd { 
    padding: 0; 
    margin: 0; 
}
#timelog dl { 
    padding: 0; 
    margin-bottom: 2px 
}
#timelog dl label { 
    float: none; 
    display: block; 
    width: auto; 
    text-align: left 
}
#timelog-wrapper ul { 
    list-style-type: none
}

#timelog dt { 
    background: url(../img/add.png) no-repeat; 
    padding:5px 30px;
    cursor:pointer;
}
#timelog dt.shown { 
    background-image: url(../img/remove.png) 
}
#timelog dl.level1 {
    padding-left:10px;
}
#timelog dl.level1 dd {
    overflow:auto;
}
#timelog dd li {
    width:auto;
}
#timelog dl.level2 {
    margin-left:10px;
    border:1px solid #EBEBEB;
}

#timelog dl.level2 dd {
    height:auto;
}

#timelog > li:first-child { 
    float: right
}
#timelog > li:first-child .required-text {
    padding:0;
}
#timelog > li:first-child label {
    float:none;
    display:block;
    text-align:left;
}
/* #content input[type=submit] { outline: 1px solid red } */

#timelog-layout td {
    vertical-align: top;
    text-align: left;
}

/* blocked items in iteration */
.blocked td{
    background:#f99 !important;
}
.starved td{
    background:orange !important;
}
.blocked .name{
    background:#f99 url(../img/blocked.png) no-repeat !important;
    background-position: left center !important;
    padding-left:20px;
}
#us-head.blocked{
    background:#f99 url(../img/blocked-big.png) no-repeat !important;
    background-position: left center !important;
    padding-left:32px;
}

ul.breadcrumbs {
    font-size:80%;
    margin:0.5em 0;
    list-style-type:none;
    list-style-image:none;
    padding:0;
    border-bottom:1px solid #EBEBEB;
}
.breadcrumbs li {
    list-style-type:none;
    list-style-image:none;
    float:left;
    position:relative;
}

.visualClear {
    float:none !important;
    clear:both;
}

.size-benchmark {
    border: 1px dotted grey;
}
.topline {
    border-top:1px dotted #555;
    margin-top:5px;
}

.topline td {
    padding-top:10px;
}