table.pretty-table, table#user-story-list, table#impediment-list {
    width:100%;
    clear:both;

}
table#user-story-list .state, table.pretty-table .state {
    text-align: center;
}

table#user-story-list .edit-button {
    text-align: center;
}

thead th {
    vertical-align:top;
    padding-left:0.5em;
    text-align:left;
}

td img {
    vertical-align:middle;
}

td.name {
    min-width:20em;
    width:50%;
}

tbody td {
    font-weight:normal;
    padding:0 0.5em;
    vertical-align:top;
}

table#user-story-list tbody td, table#impediment-list tbody td, table.pretty-table tbody td {
    height:35px;
    vertical-align:middle;
}
tr#resolved-impediments td {
 background-color:#C9E27D;
}

.mceEditor tbody td {
    padding:0;
}

form tbody td {
    border-right:none;
}

tr.even td { 
    background: #ddeeff;
}
tr.child.even td { 
    background: #ecf4fc;
}
tr.odd td { 
    background: #d8e9f9;
}
tr.child.odd td { 
    background: #fffefb;
}

.estimates th {
    font-size:80%;
}

.totals td, table#impediment-list thead th {
    border-bottom:2px solid #565d63;
}
.totals td.total {
    background:#c9e27d;
    text-align:center;
}

td.actuals, td.size,td.estimated, td.progress, td.todo, td.actuals, td.failures, td.rank {
    text-align:center;
}
select.resize {
    width: auto;
}

table .dragging td {
	background-color: #237ADD;
    color: white;
}

table .release td {
	background-color: green;
	color: #FFFFFF;
    font-size: larger;
    padding: 2px;
}
table .release.warning td {
	background-color: orange;
	color: #FFFFFF;
}
table .release.error td {
	background-color: red;
	color: #FFFFFF;
}

table span.icon {
    display:block;
    width:16px;
    height:16px;
    background-repeat:no-repeat;
    background-position:0 0;
    background-color:transparent;
    background-image:url(../img/filetype/default.icon.gif);
    cursor:pointer;
}
table .icon[rel$='.jpg'] {
    background-image:url(../img/filetype/jpg.gif);
}

table .icon[rel$='.zip'] {
    background-image:url(../img/filetype/zip.gif);
}

table .icon[rel$='.png'] {
    background-image:url(../img/filetype/image.png);
}

table .icon[rel$='.gif'] {
    background-image:url(../img/filetype/gif.gif);
}

table .icon[rel$='.ai'] {
    background-image:url(../img/filetype/ai.gif);
}

table .icon[rel$='.doc'] {
    background-image:url(../img/filetype/doc.gif);
}

table .icon[rel$='.htm'] {
    background-image:url(../img/filetype/htm.gif);
}

table .icon[rel$='.html'] {
    background-image:url(../img/filetype/html.gif);
}

table .icon[rel$='.js'] {
    background-image:url(../img/filetype/js.gif);
}

table .icon[rel$='.pdf'] {
    background-image:url(../img/filetype/pdf.gif);
}

table .icon[rel$='.ppt'] {
    background-image:url(../img/filetype/ppt.gif);
}
table .icon[rel$='.txt'] {
    background-image:url(../img/filetype/txt.gif);
}
table .icon[rel$='.xls'] {
    background-image:url(../img/filetype/xls.gif);
}
table .icon[rel$='.xml'] {
    background-image:url(../img/filetype/xml.gif);
}

.userstory.normal td {
    background:#e2c87d !important;
}
