/* menu tabs */

body.projects #tab_projects a,
body.agilito #tab_agilito a,
body.backlog #tab_backlog a,
body.iteration #tab_iteration a,
body.timelog #tab_timelog a,
body.files #tab_files a,
body.search #tab_search a,
body.hours #tab_hours a
{
    color: #000; /* selected tab text colour */
}

body.projects #tab_projects,
body.agilito #tab_agilito,
body.backlog #tab_backlog,
body.iteration #tab_iteration,
body.timelog #tab_timelog,
body.files #tab_files,
body.search #tab_search,
body.hours #tab_hours
{
    margin: 0; /* to compensate for border */
    padding: 5px 0 5px;
    background-color: #DEF; /* selected tab colour */
    border-left: 1px solid #000; /* tab border */
    border-top: 1px solid #000; /* tab border */
    border-right: 1px solid #000; /* tab border */
}
