html, body, .taskboard, .division.bg, .bg .lane {
    height:100%;
}

.cont {
    position:absolute;
    width:100%;
}

.division.bg {
    position:absolute;
}

body {
    color: #333333;
    font-family: "Helvetica Neue",Arial,sans-serif;    
    margin:0;
    padding:0;
}
.taskboard {
    width:98%;
    margin-right:1%;
    margin-left:1%;
}
.lane .color {
    width:100%;
    border-right:1px dashed #CCC;
    height:100%;
}
.taskboard .division {
    width:100%;
    border-bottom:1px dashed #CCC;
}
.taskboard, .taskboard .division{
    float:left;
    position:relative;
    clear:both;
}

.taskboard .owner {
    display:none;
}

.taskboard .division.head {
    text-align:center;
} 

.taskboard .lane {
    width:25%;
    float:left;
    position:relative;
    min-height:1px;
}

.taskboard .story, .taskboard .task {
    margin:5px 15px;
    min-height:90px;
    padding:5px;
}

.taskboard .story {
    background-color:#C9E27D;
    position:relative;
}

.taskboard .task {
    background-color:#D8E9F9;
    position:relative;
}

.remaining {
    position:absolute;
    bottom:10px;
    right:10px;
}

.rank {
    position:absolute;
    bottom:10px;
    left:10px;
}

.actions {
    position:absolute;
    bottom:10px;
    left:10px;
}

.filters {
    /*
    float: right;
      position: absolute;
      right: 0;
      width: 25%;
      z-index: 100;
    */
}